<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea doloremque
      obcaecati recusandae? Dignissimos sequi ducimus nemo beatae quas
      necessitatibus architecto?
    </p>
  </header>
  <div style="width: 30%">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora,
        exercitationem?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, enim
      laborum perspiciatis non esse incidunt doloremque illo doloribus officia
      assumenda?
    </p>
  </div>
</section>
